extends layout

block extraHeader
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
block content
	#banner-bar
					img(src='./images/logo-square.jpg')
	.pure-skin-mine
			.username
				h1= userdata.fullname
				h3= userdata.username