extends layout

block content
	h1 Welcome to Codeparty!
	br
	#loginForm
		input#username.u-full-width(type="text", placeholder="Username")
		//input#password.u-full-width(type="text", placeholder="Password")
		button#loginBtn.button-primary Log In