extends layout

block content
	h1 Welcome to Codeparty!
	br
	form#loginForm.pure-form
		input#username(type='text', placeholder='Username')
		//input#password(type='text', placeholder='Password')
		button#loginBtn.pure-button.pure-button-primary Log In
block extraScripts
	script(src='/javascripts/login.js')