extends layout

block extraHeader
	link(rel='stylesheet', href='/stylesheets/lobby.css')
block content
	#banner-bar
					img(src='./images/logo-square.jpg')
	h1(align='center') Welcome to Codeparty lobby!
	table#lobbyTable.pure-table
		thead
			th #
			th Name
			th Handle
			th Location
		tbody
			each val, index in ['---', '---', '---', '---']
				tr
					td= (index+1)
					td= val
					td= val
					td= val
block extraScripts
	script(src='https://cdn.socket.io/socket.io-1.2.1.js')
	script(src='/javascripts/lobby.js')