body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
}
.username {
    text-align:center;
}
#banner-bar {
    background-color: #e13509;
}
#banner-bar img {
    display:block;
    margin: 0 auto;
    width:240px;
}