.home-menu a{
	padding:0;
}
.home-menu img{
	height:80px;
}
.pure-menu-heading{
	padding:0;
}
.header li a:hover{
	background-color: #e13509 !IMPORTANT;
	color:white !IMPORTANT;
}
.header li {
	font-family: 'PT Sans Narrow', sans-serif;
    font-size: 28px;
}