body{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
}
.username{
    text-align:center;
}
#icon-bar{
    background-color: #e13509;
}
#icon-bar img{
    display:block;
    margin: 0 auto;
    width:240px;
}
.chart{
    margin:2%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
}
.chart div {
    background-color: #e13509;
    text-align: left;
    padding: 5px;
    margin: 10px;
    color: white;
}
.chart p{
    padding: 0px;
    margin:0;
}
.rank{	
    margin: 0 auto;
    text-align:center;
    width:90%;
    margin-top:5%;
}
.rank h1{
    color:white;
    background-color: #e13509;
}
.rank p{

}