table{
	text-align:center;
	margin-top:5%;
	margin-bottom:5%;
	width:100%;
}
table, th, td {
 	border:1px solid #e6e6e6;
    font-size: inherit;
    overflow: visible;
    padding: 10px;
}
#player-one-color{
	background-color:red;
}
#player-two-color{
	background-color:red;
}
#player-three-color{
	background-color:yellow;
}
#player-four-color{
	background-color:yellow;
}
.username-cell{
	color:#474747;
	background-color:white;
}
.problem{
	width:100%;
	text-align:center;
	background-color:gray;
}
.pure-g{
	text-align:center;
	margin-top:5%;
}
.pure-u-1-6{
	
}
.pure-u-5-6{
	background-color:gray;
}
#progress-bar{
	text-align:center;
	position:fixed;
	bottom:0;
	background-color:gray;
	width:100%;
}
.progress-component{
	height:20px;
}
#progress-one{
	background-color:red;
	float:left;
	width:60%;
}
#progress-two{
	background-color:yellow;
	float:right;
	width:40%;
}
